:root{
    --bg-light: #c5d9f1 !important;
    --bg-dark: #16365c !important;
    --text-theme: #16365c !important;
}

[data-theme="USPOST"] {
    --bg-light: #FFE7E1 !important;
    --bg-dark: #781700 !important;
    --text-theme: #750C00 !important;
}

[data-theme="USAH"] {
    --bg-light: #c5d9f1 !important;
    --bg-dark: #16365c !important;
    --text-theme: #16365c !important;
}

[data-theme="USPRE"] {
    --bg-light: #F8EDCC !important;
    --bg-dark: #B4912B !important;
    --text-theme: #5F4700 !important;
}

[data-theme="US"] {
    --bg-light: #B9E9EB !important;
    --bg-dark: #009CA1 !important;
    --text-theme: #005F62 !important;
}
