:root{
    --bg-light: #c5d9f1 !important;
    --bg-dark: #16365c !important;
    --text-theme: #16365c !important;
}

[data-theme="USPOST"] {
    --bg-light: #44a7a7 !important;
    --bg-dark: #0c7272 !important;
    --text-theme: #ffffffe4 !important;
}

[data-theme="USAH"] {
    --bg-light: #c5d9f1 !important;
    --bg-dark: #16365c !important;
    --text-theme: #16365c !important;
}

[data-theme="USPRE"] {
    --bg-light: #9acf76 !important;
    --bg-dark: #609c62 !important;
    --text-theme: #ffffffe4 !important;
}

[data-theme="US"] {
    --bg-light: #e4a378 !important;
    --bg-dark: #ED7D31 !important;
    --text-theme: #ffffffe4 !important;
}
