.w-33 {
    width: 33%;
}

.pointer {
    cursor: pointer;
}

.pointer:hover {
    text-decoration: underline;
}
.input-search {
    z-index: -1 !important;
}
.search-order-monitoring{
    display: flex;
}
.pad-top{
    padding: 0 12px !important;
}