.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 99;
}

.modal-notification {
    margin-top: 6vh;
    width: 30%;
}

.w-4 {
    width: 4rem;
}

.notification-list {
    overflow-y: auto;
}

.ml-4 {
    margin-left: 4px;
}

.item-content {
    flex-grow: 1;
    padding: 0.25rem 1rem 0;
}

.mh-700px {
    height: 700px;
}