.card .card-header {
    padding: 0.5rem 0.75rem;
    background: var(--bg-dark);
    color: #fff;
}

.card .card-body {
    padding: 0.75rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 0;
}

.bg-gradient-light {
    background: white;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#e8eff8));
    background: linear-gradient(to bottom, white 0%, #e8eff8 100%);
}

.btn-primary-custom {
    color: #fff !important;
    background: var(--bg-dark) !important;
    border-color: var(--bg-dark) !important;
}

.color-primary {
    color: var(--bg-dark) !important;
}

.border {
    border: 1px solid #D0D9E3 !important;
}

.table.table-i tbody tr th {
    background: var(--bg-light);
    color: var(--bg-dark);
    font-size: 0.8em;
    width: 160px;
}

.table thead tr th {
    background: var(--bg-light);
    color: var(--text-theme);
    font-size: 0.75rem;
    font-weight: 600;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
}

.table > :not(:first-child) {
    border-top: 2px solid #fff !important;
}

thead, tbody, tfoot, tr, td, th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

.table-sm > :not(caption) > * > * {
    padding: 0.25rem 0.25rem;
}

.bg-success-light {
    background: #E5ECE4 !important;
}

.bg-light {
    --bs-bg-opacity: 1;
    background: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

.bg-danger-light {
    background: #F8E5E5 !important;
}

.order-form .order-btn-group .btn-buy.selected {
    background: #66B55D;
}

.order-form .order-btn-group .btn:first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.order-form .order-btn-group .btn {
    background: #ccc;
    line-height: 1.2;
}

.order-form .order-btn-group .btn-sell.selected {
    background: #ED1C24;
}

.btn-disabled:disabled {
    background: #ccc;
}

.fs-17 {
    font-size: 17px;
}

.mt-10 {
    margin-top: 10px;
}

.lastPriceStyle {
    font-size: 20px !important;
    padding-right: 0;
}

.text-warning {
    color: #ffc107;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.h-50px{
    height: 50px;
    display: flex;
    align-items: center;
}

.link-btn {
    font-weight: bolder;
    color: rgb(23, 191, 221);
    text-decoration: underline;
}

.pointer:hover {
    font-weight: bolder;
    color: rgb(23, 191, 221);
    text-decoration: underline;
    cursor: pointer;
}
