
.z-1 {
    z-index: -1;
}

.ReactVirtualized__Table__headerRow {
    font-weight: 500 !important;
    text-transform: none !important;
}

.ReactVirtualized__Table__row {
    border-bottom: none;
}

@media  only screen and (max-width: 1200px)  {
    .order-form .order-btn-group .btn {
        background-color: #ccc;
        line-height: 0.6;
    }
}