.confirm-head{
    display: inline-block;
}
.confirm-close{
    display: inline-block;
    float: right;
}
.cf-pw-icon{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}