/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 99;
}
 
.box {
  position: relative;
  width: 400px;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  color: #fff;
  background-color: #16365C;
  padding: 20px;
  border-bottom: 1px solid #999;
  overflow: auto;
}

.content {
  position: relative;
  width: 400px;
  margin: 0 auto;
  height: auto;
  background: #fff;
  padding: 20px;
  overflow: auto;
}
 
.close-icon {
  content: 'x';
  cursor: pointer;
  line-height: 20px;
  text-align: center;
}

.table-content {
    display: flex;
   margin-top: 40px;
   justify-content: center;
}

.text-left {
    text-align: left;
}

.fs-18 {
    font-size: 18px;
}

.order-type {
  font-size: 20px;
  text-transform: uppercase;
}

.w-150 {
    width: 150px;
}

.w-90 {
    width: 90px;
}

.h-100 {
    height: 100px;
}
.m-100 {
  width: 100% !important;
  text-align: right !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.w-354 {
  width: 354px !important;
}
.w-px-100 {
  width: 100px !important;
}
.w-precent-15 {
  width: 15% !important;
}
.w-precent-41 {
  width: 41% !important;
}
.w-precent-19 {
  width: 19% !important;
}
.btn-increase{
  border-radius: 0 !important;
  padding: 0  8px!important;
  line-height: 20px !important;
}
.h-46{
  height: 46px !important;
}
.outline:focus{
  box-shadow: none !important;
}

.title-moldal{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #16365c;
  color: #fff;
}

.pd-10{
  padding: 0px 0px 30px !important;
  border: 0 !important;
}

.modal-matching{
  position: relative;
  margin-top: 300px;
  left: auto;
  z-index: 99;
  background-color: #fff;
  border-radius: 3px;
  padding: 0 !important;
}

.btn_close{
  font-size: 0.85rem;
  outline: none;
  border: none;
  background-color: #16365c;
  color: #fff;
}

.tbody-modal tr:last-child{
  border-bottom: 1px solid rgb(235, 235, 235);
}

.f-right {
  float: right !important;
}