.w-33 {
    width: 33%;
}

.pointer {
    cursor: pointer;
}

.input-search {
    z-index: -1 !important;
}
.search-order-monitoring{
    display: flex;
}
.pad-top{
    padding: 0 12px !important;
}
.mr {
    margin-top: auto;
    margin-bottom: auto;
}
.w-99 {
    width: 99% !important;
}
.h-2r {
    height: 2rem;
}
.pt-3-px {
    padding-top: 3px !important;
}

.big-order-note {
    font-size: 16px;
    margin-bottom: .25rem;
    font-weight: bold;
    font-style: italic;
}