.div_maintb {
    height: 620px;
    width: 100%;
    overflow: scroll;
    border: 1px solid #b4b4b4;
}

    .div_maintb table {
        margin: 0;
        border-spacing: 0;
    }

    .div_maintb tbody th {
        position: sticky;
        top: 0;
        background: #ddd9c3;
        color: #16365C;
        // width: 100px;
        padding: 6px;
        // outline: 1px solid #7a7a7a;
    }

    // .div_maintb tr{
    //     outline: 1px solid #ccc;
    // }
    
    .div_maintb td {
        width: 124px;
        min-width: 134px;
        padding: 6px;
        outline: 1px solid #ccc;
        text-align: end;
    }
        .div_maintb th:nth-child(1){
            z-index: 400 !important;
        }
        // .div_maintb td:nth-child(1){
        //     position: sticky;
        //     top: 50px;
        // }

        .div_maintb th:nth-child(1),
        .div_maintb td:nth-child(1) {
            position: sticky;
            left: 0;
        }
        

        // .div_maintb tr:nth-child(2){
        //     position: sticky;
        //     top: 38px;
        // }

        // .div_maintb th:nth-child(2){
        //     text-align: center;
        //     position: sticky;
        //     left: 0;
        //     right: 0;
        // }

        .div_maintb td:first-child{
            background: #ddd9c3;
            color: #16365C;
            font-weight: bold;
            text-align: center;
            z-index: 200;
            border: none;
        box-shadow: none;
        // outline: 1px solid #c3c3c3;

        }

        .div_maintb th:nth-child(1),
        .div_maintb th:nth-child(2){
            // background-color: #16365C;
            // color: #fff;
            z-index: 300;
        }
        .div_maintb .tr-id th:nth-last-child(1),
        .div_maintb .tr-id th:nth-last-child(2),
        .div_maintb .tr-id th:nth-last-child(3){
            // position: sticky;
            // top: 0;
            background-color: #16365C;
            color: #fff;
            z-index: 1;
        }

        .div_maintb .tr-id th:nth-last-child(1){
            position: sticky;
            right: 0;
        }
        .div_maintb .tr-id th:nth-last-child(2){
            position: sticky;
            right: 134px;
        }

        .div_maintb .tr-id th:nth-last-child(3){
            position: sticky;
            right: 268px;
        }

        .div_maintb td:nth-last-child(1){
            position: sticky;
            right: 0;
            background-color: #d8d8d8;
        }
        .div_maintb td:nth-last-child(2){
            position: sticky;
            right: 134px;
            background-color: #d8d8d8;
        }
        .div_maintb td:nth-last-child(3){
            position: sticky;
            right: 268px;
            background-color: #d8d8d8;
        }

.div_maintb .td-special{
    position: sticky;
    bottom: 0;

    left: 0;
    background-color: #16365C !important;
    color: #fff !important;
}

.div_maintb tr:last-child{
    position: sticky;
    bottom: 0;
    background-color: #d8d8d8;
    z-index: 300;
}
.div_maintb tr:nth-last-child(2){
    position: sticky;
    bottom: 34px;
    background-color: #d8d8d8;
    z-index: 300;
}
.div_maintb tr:nth-last-child(3){
    position: sticky;
    bottom: 90px;
    background-color: #d8d8d8;
    z-index: 300;
}
.fz-16{
    font-size: 16px;
}