.mr-10 {
    margin-right: 10px !important;
}

.mh-350 {
    max-height: 350px !important;
}

.w-10 {
    width: 10%;
}

.mr-10px {
    margin-right: 10px !important;
}

@media (max-width: 990px) {
    .mr-10px {
        margin-right: 0 !important;
    }
}

.tableFixHead {
    overflow: auto;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

.pointer-style {
    cursor: pointer;
}

.ReactVirtualized__Table__headerRow {
    background: var(--bg-light);
    color: var(--bg-dark);
}

.cancel-btn {
    border-radius: .25rem !important;
    border: 1px solid transparent !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
}

.list-order-row {
    border-bottom: 1px solid #e0e0e0 !important;
}

.list-order-row:last-child {
    border-bottom: none;
}

.theme-header{
    span, i {
        color: var(--text-theme) !important;
    }
}